header {
  font-family: $font-family2;
  text-align: center;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  padding: 1rem;
  position: relative;
  padding-bottom: 1.26rem;
}
main .city {
  background-color: #eaeaea;
  text-align: center;
  padding: 0.5rem;
  @include flexcenter;
  gap: 1rem;
  & i {
    font-size: 1.5rem;
  }
}
