.reserv {
  background-color: #f3f3f3;
  padding-bottom: 3rem;
  text-align: center;
  & h2 {
    margin-top: 0;
    padding-top: 2rem;
    font-size: 2rem;
  }
  & p {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  & button {
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 2px 1px 16px -3px black;
    background-image: linear-gradient(
      to top,
      rgba(147, 86, 220, 0.9),
      rgba(255, 121, 218, 0.9)
    );
    transition: all 200ms;
  }
  & button:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}

.br_section_p {
  display: none;
}
