@include desktopandhigher {
  .br_section_p {
    display: block;
  }
  .tuto ol {
    flex-direction: column;
  }
}
@include tablet-to-desktop {
  #main-container main {
    width: auto;
  }
  .tuto {
    padding: 0 1rem;
  }
  .menus {
    padding: 1rem 1rem;

    & .menus__card {
      display: grid;
      width: 100%;
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 25px;
    }
  }
}

@include phone-to-tablet {
  main .sections-wrapper {
    display: grid;
    grid-template: 33.3% / repeat(3, 33.3%);
    grid-gap: 1rem;
    margin-right: 25px;
  }
  footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: initial;
  }
}
@include phone {
  footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: initial;
  }
}
