@mixin desktopandhigher {
  @media screen and (max-width: 950px) {
    @content;
  }
}
@mixin tablet-to-desktop {
  @media screen and (max-width: 820px) {
    @content;
  }
}

@mixin phone-to-tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin phone {
  @media screen and (min-width: 480px) {
    @content;
  }
}
@mixin bgcolorgradiant {
  background-image: linear-gradient(
    to top,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
}

@mixin flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

$purple: #9356dc;
$pink: #ff79da;
